*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(cover.jpg);
    background-size: cover;
    background-position: center;
    cursor: url('aim_black_small.png'), pointer;
}
section:active{
    cursor: url('aim_red_small.png'), pointer;
}
.bullet{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(hole_gun.png);
    pointer-events: none;
    transform: translateX(-18px);
    transition: 0.3s;
}
.blood{
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 400px;
    /* background: url(blood2.png); */
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: fadeOut 4s linear infinite;
}

@keyframes fadeOut {
    0%, 30% {opacity: 1;}
    100% {opacity: 0;}
}